.launches-list-container {
  padding: 20px;

  .launches-list {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
  }

  .pagination {
    margin-top: 20px;
  }
  .launches-list-header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.loading {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}